.home{


}

.home__wrapper{


}

.home__introduction{


}

.home__introduction__text{
    @extend %title-69;

    width: 77.3rem;

}

.home__projects{


}

.home__projects__title{
    @extend %title-45;

    height: 5.5rem;
    border-bottom: 2px solid black


}

.home__about-me{


}

.home__about-me__title{
    @extend %title-45;

    height: 5.5rem;
    border-bottom: 2px solid black

}

.home__about-me__description{
    @extend %title-30;

    width: 53.5rem;
    height: 36.7rem;

    
}

.home__about-me__technologies{


}

        